@import "global";

.site-header{
    background-color: transparent;
    padding: 10px 1rem;
    width: 100%;
    z-index: 100;
    display: flex;

    img{
        width: 100px;
    }
    

    .site-title{
        display: none;
    }

    .main-navigation{
        display: none;
    }

}